.menuDesplegableContainer {
    position: relative;
}



.listaContainer {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(172, 172, 172);
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1000;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}

.menuDesplegableContainer:hover .listaContainer {
    display: block;
}

.listaContainer li {
    padding: 8px 1rem;
    margin: 0.5rem;
    cursor: pointer;
}

.listaContainer li:hover {
    background-color: #f0f0f0;
    color: black;
}